.nav {
  width: 98%;
  margin: 30px auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  background-color: #333333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.nav > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav .logo-nav {
  width: 50px;
  height: 50px;
  color: #b175ff;
}

.nav_sub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: whitesmoke;
  padding: 0.5rem;
}
