.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  background-color: #262627;
  box-shadow: rgba(129, 175, 228, 0.4) 0px 0px 0px 2px,
    rgba(0, 89, 191, 0.65) 0px 4px 6px -1px,
    rgba(82, 60, 60, 0.08) 0px 1px 0px inset;
  padding: 0.5rem 1rem;
}

.nav_sub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: whitesmoke;
  padding: 0.5rem;
}
