.edit_form {
  width: 60%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon_react {
  width: 25px;
  height: 30px;
  color: gray;
  cursor: pointer;
}

.home {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home > div:nth-child(1) {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.home > div:nth-child(2) {
  width: 30%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  color: gray;
  padding: 1rem;
  cursor: pointer;
}

.home > div:nth-child(2):hover {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.home .home_form_collections {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 8px;
  border-radius: 8px;
}

.home_form_collections > div > h3 {
  color: rgb(99, 99, 99);
}

.home_form_collections .home_form_01 {
  display: flex;
  justify-content: flex-start;
}

.home_form_01 > div {
  border: 1px solid gray;
  padding: 8px 16px;
  margin: 5px 10px;
  border-radius: 8px;
}

.home_form_collections > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Sections CSS */
.add_more_section {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  border: 1px dashed blue;
  border-radius: 12px;
}

.add_more_section > div:nth-child(1) {
  border: 1px solid blue;
  background-color: #ece3ff;
  color: blueviolet;
  font-size: 17px;
  font-weight: 500;
}

.add_more_section {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.question-type-dropdown {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 50px;
}

.add-section-icon {
  font-size: 24px;
  cursor: pointer;
}

.last_section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.last_section div:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 21px;
  border-radius: 12px;
  cursor: pointer;
}

.last_section div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.last_section div:nth-child(1):hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
